.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.form-container{
    width: 90vw;
    height: 90vh;
    display: flex;
    align-self: center;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
}

.form-container__header{
    display: flex;
    justify-content: center;
    padding: 0.6rem 0s;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.form__input {
    height: 2rem;
    flex: 0.75;
    border: 1px solid #9e9e9e;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}

.form__input:focus-visible {
    outline: none;
}

.form__button {
    flex: 0.25;
    height: 2rem;
    border: 1px solid #9e9e9e;
    border-radius: 0 10px 10px 0;
    border-left: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
}

.items {
    overflow: scroll;
    overflow-x: hidden;
}

.items::-webkit-scrollbar {
    display: none;
}

.item {
    border: 1px solid #9e9e9e;
    padding: 0.5rem 1rem;
    margin: 0.825rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.items__actions{
    font-family: Material Icons;
    font-size: 1.2rem;
    align-items: center;
}

.item__tetx {
    display: flex;
    align-items: center;
    font-size: 0.825rem;
}

.item__edit {
    color: hsl(125, 71%, 66%);
    margin-right: 5px;
}

.item__delete {
    color: hsl(360, 71%, 66%);
    margin: 5px;
}